#featured{
    margin-top: -120px;
    padding-bottom: 0px;
}

#featured .box{
    padding: 40px 20px 20px 20px;
    min-height: 180px;
    margin: 0px;
    background: url('../assets/media/box-bg.png');
    background-size: cover;
    background-position: cover;
    border-radius: 12px;   
}

#featured .box img.logo{
    max-width: 150px !important;
}
#featured .box img.logo-alt{
    max-height: 40px !important;
    max-width: auto;
}

#featured .box img.btn{
    max-height: 60px !important;
} 

#featured .owl-carousel .owl-item img{
    width: auto !important;
}

@media screen and (max-width: 1400px) {

#featured .owl-carousel .owl-nav.disabled, #featured .owl-carousel .owl-dots.disabled{
    display: block !important;
}

}

#featured .owl-theme .owl-nav.disabled + .owl-dots{
    display: none !important; 
    margin-top: 0px;
}

#featured .owl-prev, #featured .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid #fff;
}
#featured .owl-prev { left: -10px; }
#featured .owl-next { right: -10px; }
#featured .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}

#featured .owl-prev span, #featured .owl-next span{
    color: #fff;
    font-size: 50px;
}
#featured .owl-prev span:hover, #featured .owl-next span:hover{
    color: #2d2d2d;
    font-size: 70px;
}

#featured .owl-theme .owl-nav [class*='owl-']:hover{
    background: none;
}