#intro{
    padding: 100px 0px;
}

#intro .item{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
}

#intro .item img{
    max-width: 50%;
}

#intro .owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: -20px !important;
}
#intro .owl-theme .owl-dots{
    text-align: left !important;
    padding-left: 40px;
}
#intro .owl-carousel .owl-dots.disabled{
    display: block !important;
}
#intro .owl-theme .owl-dots .owl-dot span{
    width: 40px !important;
    height: 4px !important;
}  
#intro .owl-theme .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.50) !important;
}
#intro .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff !important;
}

@media screen and (max-width: 769px){
    #intro{
        padding: 20px 0px;
    }
    #intro .item{
        flex-direction: column;
    }

    #intro .item img.img{
        max-width: 100% !important;
    }

    #intro .owl-carousel .owl-nav.disabled{
        display: none;
    }

    #intro .owl-carousel .owl-dots.disabled{
        display: block;
    }
    #intro .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: 10px !important;
    }

    #intro .owl-theme .owl-dots{
        padding-left: 0px;
        text-align: center !important;
    }
}