@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6, a, span, p{
  font-family: 'Montserrat', sans-serif;
  color: #2D2D2D;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 800;
}

p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

h2.heading{
  font-size: 50px;
  font-weight: 800;
  line-height: 55px;
  text-transform: uppercase;
}

h2.section-title{
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
}


body {
  background: linear-gradient(180deg, #0094D6 0%, #7EDFFD 21.35%, #7EFDDF 40.86%, #FBEC64 55.65%, #BBA1E8 70.83%, #0194D6 82.9%, #88EAE0 100%);
  background-position: top center;
  background-size: cover;
}

@media screen and (max-width: 769px) {
  h2.heading, h2.section-title{
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
  }
  p{
    font-size: 15px;
    line-height: 20px;
  }
}
.icon-color{
  font-size: 30px !important;
  color: #62C8A9 !important;
}
.nft-Transfer-Input {
  padding: 10px 0 10px 0 !important;
  border-radius: 10px !important;
  border: 1px solid black !important;
}
.checkIcon {
  font-size: 2.5rem !important;
  opacity: 1 !important;
  fill: #25cdb1 !important;
}

.checkIconBox {
  border: none;
  background-color: transparent;
}
.nft-transfer-img-card{
  box-shadow: 5px 7px #62C8A9 !important;
}
.nft-button-shadow{
  box-shadow: 3px 4px #e9e49f !important;
}
.got-plane{
  font-size: 12px !important;
}
.btn-close{
  background-color: #50a58b  !important;
  border-radius: 50pc !important;
}
.back-img{
  background-image: url("./assets/Rectangle 260.png");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.width-set{
  width: 15rem !important;
}
.page-item.active .page-link{
  background-color: transparent !important;
  border:2px solid #25cdb1 !important;
  border-radius: 6px !important;
}
.page-link {
  box-shadow: none !important;
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff00;
  padding: 0.20rem 0.75rem !important;
  margin: 2px !important;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #25cdb1;
  /* border-color: #dee2e6; */
}